@inject IJSRuntime _js
<div id="topbar" class="bg-primary" style="position: absolute;left:0;top:-20px; height:20px;width:400px;"></div>
<div id="bottombar" class="bg-primary" style="position: absolute;left:0;top:800px; height:20px;width:400px;"></div>
@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await _js.InvokeVoidAsync("moveBar","#topbar");
        await _js.InvokeVoidAsync("oppositeMoveBar", "#bottombar");
    }

}

