@inject NavigationManager _nav;

@if (_loading)
{
    <Loading/>
}
else
{
    @foreach (var recipe in _recipes)
    {
        <div @onclick="()=>NavidateToDetail(recipe.RecipeID)">
            <RecipeOverview Recipe="recipe" />
        </div>
    }
}