@inject NavigationManager _nav;

@if (_recipe == null)
{
    <div class="Card" style="height:20%;">
        <div class="card-body bg-primary text-white fw-bold">
            <p> loading...</p>
        </div>
    </div>
}
else
{
    <div class="card shadow-lg" style="height:300px;">
        <div class="card-header text-center align-middle bg-black text-white">
            <p class="fw-bolder">@_recipe.Title</p>
        </div>
        <div class="card-body d-grid" style="background-image:url(@_recipe.Image); background-position:center;background-repeat:no-repeat;background-size:cover;">
            <div class="row align-top align-items-start">
                <div class="col-12 fw-bold text-white text-start">
                    @if ((_recipe.ExpenseRating != null) && (_recipe.ExpenseRating > 0))
                    {
                        @foreach (var ratingCount in Enumerable.Range(1, (int)_recipe.ExpenseRating))
                        {
                            <span class="oi oi-dollar fw-bold text-primary m-2"></span>
                        }
                    }
                    
                    </div>
            </div>
            <div class="row align-bottom align-items-end">
                <div class="col-12 fw-bold text-white text-end ">
                    <span>@_recipe.CategoryName</span>
                </div>
            </div>
        </div>
        <div class="card-footer bg-primary fw-bold text-dark text-center">
            <span>@_recipe.Description</span>
        </div>
    </div>
}

@code {
    [Parameter] public RecipeDTO Recipe { get; set; } = new();
    RecipeDTO _recipe = new();

    protected override void OnAfterRender(bool firstRender)
    {
        _recipe = Recipe;
        StateHasChanged();
    }
}
