@inject NavigationManager _nav;

@if (Recipe == null)
{
    <p class="visually-hidden"> loading...</p>
}
else
{
    <div class="card shadow-lg border-hovered">
        <div class="card-header text-center align-middle bg-black text-secondary">
            <h2 class="fw-bolder">@Recipe.Title</h2>
        </div>
        <div class="card-body d-grid" style="padding-bottom:50%;background-image:url(@Recipe.Image); background-position:center;background-repeat:no-repeat;background-size:cover;">
            <div class="row align-bottom align-items-end">
                <div class="col-12 fw-bold text-secondary text-end" >
                    <span>@Recipe.CategoryName</span>
                </div>
            </div>
        </div>
        <div class="card-footer fw-bold text-center">
            <div class="row">
                <div class="col-12 fw-bold text-white text-start text-center">
                    @if ((Recipe.ExpenseRating != null) && (Recipe.ExpenseRating > 0))
                    {
                        @foreach (var ratingCount in Enumerable.Range(1, Convert.ToInt32(Recipe.ExpenseRating)))
                        {
                            <span class="oi oi-dollar fw-bold text-primary m-2"></span>
                        }
                    }
                </div>
            </div>
            <div class="row m-1">
                <div class="col-12">
                    <span>@Recipe.Description</span>
                </div>
            </div>
        </div>
    </div>
}
